:root {
    --dark-blue: #0d1321;
    --med-blue: #3e5c76;

}

html {
    scroll-behavior: smooth;
    text-shadow: var(--dark-blue) 5px 4px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
}

#navbar {
    background-color: var(--dark-blue);
    min-height: 100px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

#navbar ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#navbar ul li {
    list-style: none;
    margin: 0 20px;
}

#navbar ul li {
    font-size: 26px;
}

a {
    text-decoration: none;
    color: #caf0f8;
    font-size: 2rem;
}

#navbar ul li a:hover {
    color: var(--med-blue);
}

#welcome-section {
    height: 100vh;
    background: linear-gradient(180deg, var(--dark-blue), var(--med-blue) );
}

h1 {
    font-size: 4rem;
    padding-top: 50vh;
}

#welcome-section p {
    font-size: 2rem;
    font-style: italic;
    color: var(--dark-blue);
}

h1, p, #hh {
    margin: 0;
    text-align: center;
}

#hh {
    border-top: 3px solid var(--dark-blue);
    padding-top: 20px;
    font-size: 4rem;
}

#projects {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    justify-content: center;
    gap: 30px;
    background: linear-gradient(180deg, var(--med-blue), var(--dark-blue) );
}


img {
    object-fit: cover;
}

figcaption:hover::before {
    content: "< ";
    color: orange;
}

figcaption:hover::after {
    content: " />";
    color: orange;
}


@media (max-width: 1500px) {
    #projects {
        grid-template-columns: 450px 450px ;
    }
}
@media (max-width: 1000px) {
    #projects {
        grid-template-columns: 450px ;
    }
}

figcaption {
    background-color: var(--dark-blue);
    width: 450px;
    height: 50px;
    text-align: center;
    margin-top: -8px;
}

#contact {
    height: 60vh;
    background: linear-gradient(180deg, var(--dark-blue), var(--med-blue) );
}

#contact h2, #contact p {
    margin: 0;
    text-align: center;
    padding-top: 30vh;
}

#contact h2 {
    font-size: 4rem;
}

#contact p {
    padding-top: 0;
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 40px;
}

.social-icons {
    text-align: center;
}

.social-icons a {
    font-size: 2rem;
    margin-left: 40px;
    position: relative;
    top: 0;
    transition: top 0.3s ease;
}

.social-icons a:hover {
    top: 20px;
}